<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Movie Website</title>
</head>
  <body>
    <div
      class="bg-image"
      style="
        background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/011.jpg');
        height: 100vh;
      "
    >
      <div class="mask gradient-custom">
        <div class="d-flex justify-content-center align-items-center h-100">
          <br><br><br>
          <h1 style="color:whitesmoke; text-align: center;">Enter Movie</h1>
        </div>
      </div>
      <br><br><br><br>
      <form method="post" action="/">
        <fieldset style="width='30%';">
            <h2 style="color:whitesmoke; text-align: center;">  SAMPLE FORM</h2>
            <ul style="text-align: center;">
                <li><h4 style="color:whitesmoke;">Movie Name:</h4><input style="width: 40%;" name='userinput' autocomplete="off">
                </li>
            </ul><input style="position: relative;padding: 0.8%;background-color: green; align-self: center;left: 47%;" class="btn btn-info" type='submit' value='Submit Form'>
        </fieldset>
      </form>
    </div>
  </body>
</html>